[submodule "FF-Fucker"]
	path = FF-Fucker
	url = https://github.com/RobloxThot/FF-Fucker
[submodule "OldRCondoSite"]
	path = OldRCondoSite
	url = https://github.com/RobloxThot/OldRCondoSite
[submodule "Roblox-Uploader"]
	path = Roblox-Uploader
	url = https://github.com/RobloxThot/Roblox-Uploader
[submodule "captchaCodeMaker"]
	path = captchaCodeMaker
	url = https://github.com/RobloxThot/captchaCodeMaker
[submodule "Token-Logger"]
	path = Token-Logger
	url = https://github.com/RobloxThot/Token-Logger
[submodule "captchaCodeMakerV2"]
	path = captchaCodeMakerV2
	url = https://github.com/RobloxThot/captchaCodeMakerV2
[submodule "DiscordGen"]
	path = DiscordGen
	url = https://github.com/RobloxThot/DiscordGen
[submodule "Imgur-to-YTVid"]
	path = Imgur-to-YTVid
	url = https://github.com/RobloxThot/Imgur-to-YTVid
[submodule "OLD-VapeV4ThotMod"]
	path = OLD-VapeV4ThotMod
	url = https://github.com/RobloxThot/OLD-VapeV4ThotMod
[submodule "Roblox-Image-Bypasser"]
	path = Roblox-Image-Bypasser
	url = https://github.com/RobloxThot/Roblox-Image-Bypasser
[submodule "Squid-Games-IP"]
	path = Squid-Games-IP
	url = https://github.com/RobloxThot/Squid-Games-IP
[submodule "PHP-IPLogger"]
	path = PHP-IPLogger
	url = https://github.com/RobloxThot/PHP-IPLogger
[submodule "Discord-URL-Encode"]
	path = Discord-URL-Encode
	url = https://github.com/RobloxThot/Discord-URL-Encode
[submodule "Github-Update-Checker"]
	path = Github-Update-Checker
	url = https://github.com/RobloxThot/Github-Update-Checker
[submodule "RobloxMouseFix"]
	path = RobloxMouseFix
	url = https://github.com/RobloxThot/RobloxMouseFix
[submodule "cumCube"]
	path = cumCube
	url = https://github.com/RobloxThot/cumCube
